@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme{
    --font-primary: 'Josefin Sans', sans-serif;
    --color-primary: #1C1B1B;
    --color-secondary: #DAE4E8;
    --color-dark: #0D0C0C;
    --color-lighter: #F5F3FF;
    --color-light: #DDD6FE;
    --color-normalbg:#F3F4F6;
    --color-darkbg:#121111;
}